<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248001387375-5jfrcq5ps5b6hu9gdarbb9n7hsq02hud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248001387375-5jfrcq5ps5b6hu9gdarbb9n7hsq02hud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248001387375-756tljhpmput9blrpvj3rpnbjf2kuc1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6yiJJEsBFXgklg-ng2lygBrG0JEmh-o8</string>
	<key>GCM_SENDER_ID</key>
	<string>248001387375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdv.trumpetsimulator</string>
	<key>PROJECT_ID</key>
	<string>brass-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>brass-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248001387375:ios:85f5b21ae3d445f39be69a</string>
	<key>DATABASE_URL</key>
	<string>https://brass-buddy.firebaseio.com</string>
</dict>
</plist>